<footer>
    <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
        <div class="container py-1">
            <div class="row g-5">
                <hr class="white-line m-4">
            </div>
            <div class="cop-block">
                <div class="container">
                    <div class="left"> <a href="#">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">My Account</a> <span>|</span> <a href="#">The Store</a> <span>|</span> <a href="#">Contact</a> </div>
                    <div class="right"> &copy; Urban Gear. Design by <a href="https://olla.ua/">Okwine.com</a> </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->
