@inherits LayoutComponentBase

<PageTitle>shooes-shop</PageTitle>
<Header />
<div class="page">   
    <main>       
        <article class="container">
            @Body
        </article>
    </main>
</div>
